<header id="header">
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center mr-0">
                <img src="./../../../assets/icons/element.svg" width="25" height="25" class="m-1"> 
                <strong>Album</strong>
            </a>
            <div class="nav-item d-inline-block">
                <a href="#" class="white-link mx-2">Home</a>
                <a href="#" class="white-link mx-2">Images</a>
                <a href="#" class="white-link mx-2">Cad</a>
                <a href="#" class="white-link mx-2">Ideias</a>
            </div>

            <button class="navbar-text btn btn-primary btn-font-white" type="button">
                Cadastre-se
            </button>
        </div>
    </div>
</header>
