<app-header></app-header>

<section class="full-content text-center d-table">
    <div class="container d-table-cell vertical-middle text-center">
        <h1 class="jumbotron-heading w-50 mx-auto">Album</h1>
        <p class="lead text-muted w-50 mx-auto">Something short and leading about the collection</p>
        <div class="w-50 mx-auto buttons-collection">
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
        </div>
    </div>
</section>
<app-carousel></app-carousel>
<app-lead></app-lead>

<section>
    <div class=" bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Add some information about the album
    below, the author, or any other background context. Make it a few 
    sentences long so folks can pick up some informative tidbits. Then, link
    them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</section>