<section class="container"> 
    <h1 class="text-center w-50 mx-auto mb-5">Title of section</h1>
    <div class="row">
        <div class="col-md-1">
           <div class="h-100 w-100 d-table text-left">
                <div class="h-100 d-table-cell vertical-middle text-left">
                    <a (click)="prev()" class="link-carousel text-left">
                        <img src="./../../../assets/icons/left-arrows.svg" width="20px">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-10 row">
            <div class="col-md-4" *ngFor="let images of listVisible">
                <div class="box-content pb-2">
                    <img class="img-boxer w-100" width="100" src="{{ images.url }}" >
                    <h2 class="my-3 m-2">{{ images.title }}</h2>
                </div> 
            </div> 
        </div>
        <div class="col-md-1">
           <div class="h-100 w-100 d-table">
                <div class="h-100 d-table-cell vertical-middle text-right">
                    <a (click)="next()" class="link-carousel text-right">
                        <img src="./../../../assets/icons/right-arrow.svg" width="20px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> 