<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Formulário</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
            <br />
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            <br />
            <label for="country">Country</label>
            <select class="form-control" id="country">
                <option ng-repeat="country in countries" value="{{ country.sigla }}">{{ country.nome }}</option>
            </select>
            <br />
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" placeholder="Street">
            <br />
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="City">
            <br />
            <label for="emailAddress">Email Address</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="Email Address">
            <br />
            <label for="state">State</label>
            <select class="form-control" id="state">
                <option ng-repeat="state in states" value="{{ state.sigla }}">{{ state.nome }}</option>
            </select>
            <br />
            <label for="mobilePhoneNumber">Mobile Phone Number</label>
            <input type="text" class="form-control" id="mobilePhoneNumber" placeholder="Mobile Phone Number">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.sendForm()">Enviar</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancelar</button>
</div>